/*
* Title: C-Or-DiAL Analysis Project
* Version: 0.0.2
* Author: David Eastman
*/

body {
    padding: 10px 20px;
    margin: 40px 55px;    
}

select, label {
    font-size: larger;
    display: none;
}

#corpus {
    padding: 15px 0px 0px 15px;  
    display: none;  /*Start out hidden until page load*/
}

#frequencies {
    padding: 0px 10px 0px 10px;    
}

.texthead {
    padding: 10px 20px;
    margin: 10px 15px;
}

.textbody {
    padding: 10px 20px;
    margin: 20px 30px;
}

.V {  /*Start out with verb dropdowns visible*/ 
    display: inline-block;
}

#POS, #POSLabel, #group_by, #group_by_label, #limit, #limit_label {
    display: inline-block;
}

#highlight_button {
    display: inline-block;
}

.column {
    float: left;
}

/* Left column */
.column.left {
    width: 25%;
}

/* Middle column */
.column.middle {
    width: 75%;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
