/*
* Title: C-Or-DiAL Analysis Project
* Version: 0.0.1
* Author: David Eastman
*/

body {
    padding: 10px 20px;
    margin: 40px 55px;    
}

select, label {
    font-size: larger;
    display: none;
}

#corpus {
    padding: 15px 0px 0px 15px;    
}

#frequencies {
    padding: 0px 10px 0px 10px;    
}

.texthead {
    padding: 10px 20px;
    margin: 10px 15px;
}

.textbody {
    padding: 10px 20px;
    margin: 20px 30px;
}

.V {  /*Start out with verb dropdowns visible*/ 
    display: inline-block;
}

#POS, #POSLabel {
    display: inline-block;
}

#highlight_button {
    display: block;
}

.column {
    float: left;
}

/* Left column */
.column.left {
    width: 12%;
}

/* Middle column */
.column.middle {
    width: 88%;
}