/*
* Title: C-Or-DiAL Analysis Project
* Version: 0.0.1
* Author: David Eastman
*/

body {
    margin: 20px 25px;
}

.texthead {
    padding: 10px 20px;
    margin: 10px 15px;
}

.textbody {
    padding: 10px 20px;
    margin: 20px 30px;
}

select, label {
    font-size: larger;
    display: none;
}

.V {
    display: inline-block;
}

#form {
    padding: 10px 20px;
    margin: 20px 30px;
}

#POS, #POSLabel {
    display: inline-block;
}

#highlight_button {
    display: block;
}